<article class="about-me">
  <section class="about-me-header">
    <div class="about-me-header-text">
      <p>Soy un desarrollador apasionado por resolver problemas complejos y crear aplicaciones web innovadoras que combinan rendimiento, funcionalidad y diseño. Mi trabajo se basa en encontrar el equilibrio entre un código limpio, la experiencia del usuario y los principios modernos de ingeniería.</p>

      <p>Tengo experiencia trabajando con <strong>Node.js Express</strong>, <strong>Java Spring Boot</strong>, <strong>Angular</strong> y bases de datos como <strong>PostgreSQL</strong> y <strong>MongoDB</strong>. Estas tecnologías las he utilizado para construir soluciones sólidas y escalables, tanto en el front-end como en el back-end.</p>

      <p>A lo largo de mi carrera, he contribuido a proyectos diversos, desde la corrección de errores en plataformas desarrolladas con <strong>Next.js</strong>, <strong>Vue.js</strong> y <strong>Node.js</strong>, hasta la creación de interfaces amigables para el usuario en <strong>Angular</strong> con herramientas como <strong>Bootstrap</strong>, <strong>Angular Material</strong> y <strong>CSS3</strong>. Tengo una sólida experiencia tanto en desarrollo front-end como back-end, con un interés especial en la optimización de interfaces para rendimiento y accesibilidad.</p>

      <p>Además, disfruto enseñar y compartir conocimiento.</p>

      <p>Cuando no estoy programando, me dedico a crear nuevas ideas para mi portafolio, enfrentar nuevos retos en el mundo tecnológico o planificar mi próxima gran contribución a la comunidad de desarrolladores.</p>
    </div>
    <div class="about-me-footer">
      <a class="about-me-footer-button"><img class="about-me-footer-button-icon" src="/assets/images/svg/angular.svg" width="40"></a>
      <a class="about-me-footer-button"><img class="about-me-footer-button-icon" src="/assets/images/png/node.png" width="80"></a>
      <a class="about-me-footer-button"><img class="about-me-footer-button-icon" src="/assets/images/png/express.png" width="150"></a>
      <a class="about-me-footer-button"><img class="about-me-footer-button-icon" src="/assets/images/svg/spring.svg" width="130"></a>
      <a class="about-me-footer-button"><img class="about-me-footer-button-icon" src="/assets/images/svg/postgresql.svg" width="40"></a>
    </div>
  </section>
</article>
