<article class="main">
  <section class="main-content">
    <section class="main-content-about-me">
      <div class="main-content-about-me-header">
        <label class="main-content-about-me-header-title">Edson Sosa</label>
      </div>
      <div class="main-content-about-me-body">
        <label class="main-content-about-me-body-title">Ingeniero de Software Full Stack</label>
        <p class="main-content-about-me-body-description">
          Diseño e implemento soluciones digitales completas, combinando backend robusto y frontend intuitivo para crear experiencias web escalables, accesibles y visualmente impactantes.
        </p>
      </div>
    </section>
    <section class="main-content-works">

    </section>
  </section>
</article>
