<article class="main">
  <section class="main-content">
    <section class="main-content-about-me">
      <div class="main-content-about-me-header">
        <label class="main-content-about-me-header-title">Edson Sosa</label>
        <div class="main-content-about-me-body-content">
          <label class="main-content-about-me-body-title">Ingeniero de Software Full Stack</label>
          <p class="main-content-about-me-body-description">
            Diseño e implemento soluciones digitales completas, combinando backend robusto y frontend intuitivo para crear experiencias web escalables, accesibles y visualmente impactantes.
          </p>
        </div>
      </div>

      <div class="main-content-about-me-body">
        <div class="main-content-about-me-body-menu">
          <a class="main-content-about-me-body-menu-button"><span class="main-content-about-me-body-menu-button-line"></span><span class="main-content-about-me-body-menu-button-content"><label class="main-content-about-me-body-menu-button-text">Sobre mi</label></span></a>
          <a class="main-content-about-me-body-menu-button"><span class="main-content-about-me-body-menu-button-line"></span><span class="main-content-about-me-body-menu-button-content"><label class="main-content-about-me-body-menu-button-text">Habilidades</label></span></a>
          <a class="main-content-about-me-body-menu-button"><span class="main-content-about-me-body-menu-button-line"></span><span class="main-content-about-me-body-menu-button-content"><label class="main-content-about-me-body-menu-button-text">Experiencia</label></span></a>
          <a class="main-content-about-me-body-menu-button"><span class="main-content-about-me-body-menu-button-line"></span><span class="main-content-about-me-body-menu-button-content"><label class="main-content-about-me-body-menu-button-text">Educación</label></span></a>
          <a class="main-content-about-me-body-menu-button"><span class="main-content-about-me-body-menu-button-line"></span><span class="main-content-about-me-body-menu-button-content"><label class="main-content-about-me-body-menu-button-text">Contacto</label></span></a>
        </div>
      </div>

      <div class="main-content-about-me-footer">
        <a class="main-content-about-me-footer-button" href="https://github.com/EdsonVladimir" target="_blank"><img class="main-content-about-me-footer-button-icon" src="/assets/images/svg/github.svg" width="40"></a>
        <a class="main-content-about-me-footer-button" href="https://www.linkedin.com/in/edson-sosa" target="_blank"><img class="main-content-about-me-footer-button-icon" src="/assets/images/svg/in.svg" width="40"></a>
        <a class="main-content-about-me-footer-button" href="https://www.facebook.com/edson.sosa" target="_blank"><img class="main-content-about-me-footer-button-icon" src="/assets/images/svg/facebook.svg" width="40"></a>
      </div>
    </section>

    <section class="main-content-works">

    </section>
  </section>
</article>
